@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// Colors
$background-color: #1e1e1e;
$dark-green: #009933;
$light-green: #00e64d;
$dark-gray: #a0a0a0;
$light-gray: #bebebe;
$dark-purple: #9900cc;
$light-purple: #c61aff;

// Fonts
$source-code-pro: "Source Code Pro", monospace;
$montserrat: "Montserrat", sans-serif;

// Media Query Sizes
$xs: "320px";
$sm: "600px";
$md: "767.99px";
$lg: "991.99px";
$xl: "1199.99px";
